@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url('./assets/font/Poppins/Poppins-Regular.ttf');
}

@layer components {
  .cart-login {
    @apply w-full sm:max-w-[520px] sm:w-9/12 md:w-2/4 lg:w-5/12 bg-white h-full md:pl-6 
     md:pr-16 py-2 px-6 flex flex-col justify-center flex-nowrap gap-3.5 overflow-auto 
     2xl:max-w-[660px] 2xl:gap-8;
  }

  .tab-table {
    @apply flex flex-col-reverse overflow-y-auto xl:flex-row flex-nowrap grow 
    overflow-hidden border-b border-t-neutral/d2  px-2 sm:px-5 pb-3 sm:pb-5;
  }

  /* 
  .tab-table {
    @apply flex  overflow-y-auto  flex-nowrap grow 
    overflow-hidden border-b border-t-neutral/d2  px-2 sm:px-5 pb-3 sm:pb-5;
  } */

  .side-bar {
    @apply w-16 sm:w-20 px-2 sm:px-3.5 pb-2 h-screen pt-[80px] sm:pt-[92px] top-0 left-0 
    flex flex-col justify-between fixed sm:static bg-white z-10;
  }

  .logout-cart {
    @apply w-56 sm:w-[255px] sm:h-[134px] p-4 absolute z-10 bottom-1 left-12 rounded-xl 
    shadow-xl flex flex-col justify-between bg-white;
  }

  .btn-w-a {
    @apply border border-t-blue inline-block rounded p-1 sm:p-2 ml-4 hover:bg-blue/10;
  }

  .btn-show-cart {
    @apply h-7 w-7 sm:h-8 sm:w-8 flex justify-center items-center border border-t-blue 
     bg-white inline-block rounded p-1 sm:p-2 ml-4 hover:bg-blue/10;
  }

  .btn-delete-icon {
    @apply h-7 w-7 sm:h-8 sm:w-8 flex justify-center items-center border border-t-red 
     bg-white inline-block rounded p-1 sm:p-2  hover:bg-red-rgba;
  }

  .bg-cart {
    @apply fixed w-screen h-screen flex justify-center items-center bg-alpha/4 z-30 top-0 right-0;
  }

  .cart-detail {
    @apply w-full h-full sm:w-[550px] sm:h-auto md:min-h-[610px] md:w-[604px] p-6 sm:p-8 
    flex flex-col flex-nowrap overflow-auto justify-between bg-white relative sm:rounded-lg;
  }

  .cart-loading {
    @apply w-full h-full sm:w-[550px] sm:h-[550px] md:h-[610px] md:w-[610px] p-6 sm:p-8 
    flex justify-center items-center bg-white sm:rounded-lg;
  }

  .cart-update {
    @apply w-full  self-start sm:self-auto sm:w-[470px] h-[470px] md:h-[520px] md:w-[520px] p-6 sm:px-6 gap-4 sm:py-8
    flex flex-col justify-between flex-nowrap overflow-auto bg-white relative sm:rounded-lg;
  }

  .cart-filter {
    @apply bg-white  h-full max-h-[634px] flex flex-col gap-4
    z-20 rounded shadow-md text-sm  gap-[14px] overflow-auto;
  }

  .update-import {
    @apply w-full h-60 md:h-64 border-dashed border-2 border-t-neutral/d2 bg-neutral/f5 
    flex flex-col items-center justify-center text-t-neutral/6 rounded-md mt-3;
  }

  .tab-header-select {
    @apply p-3 border-b-[3px] hover:border-t-blue hover:text-t-blue;
  }

  .tab-footer {
    @apply grow-0 p-2 sm:py-4 sm:px-5 flex flex-col lg:flex-row justify-between items-center 
    text-t-light sm:text-base text-sm;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9ecef;
  border-radius: 24px;
}
